{{#partial "content"}}

    <h1>Create a Hero!</h1>

        <form action="/heroes" method="post">
            <label for="name">Name</label>
            <input id="name" name="name" type="text">

            <label for="age">Age</label>
            <input id="age" name="age" type="text">

            <label for="specialPower">Special Power</label>
            <input id="specialPower" name="specialPower" type="text">

            <label for="weaknesses">Weakness</label>
            <input id="weaknesses" name="weaknesses" type="text">

            <label for="overallRating">Overall Rating</label>
            <input id="overallRating" name="overallRating" type="text">


        <button type="submit" class="btn btn-default">Go!</button>
    </form>
{{/partial}}

{{> layout.hbs}}