<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Heroes{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/heroes">Heroes</a></li>
    <li role="presentation"><a href="/squads">Squads</a></li>
    <li role="presentation"><a href="/heroes/new">Create Hero</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/heroes.jpg" width="70%" alt="https://unsplash.com/search/task?photo=Lh_bn9SgRSY">
        <h1>Welcome to HEROES!<small>Let the battle begin!</small></h1>
        <a href="/squads"><button>Select a Squad</button></a>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="/tasks/delete">insert paragraph of gameplay explanation</a></p>
        </div>
    </footer>
    </body>
    </html>
{{/block}}
