{{#partial "content"}}

    <div style="background:#dee0e0; padding:10px;font-family: 'Patua One', cursive;"> <h5>SQUADS</h5></div>

    <div class="row squads-container">
    {{#if squads}}
        {{#each squads }}

            <div class="card"> <a href="/squads/{{id}}"><img class="squad-image" src="/images/squads/{{id}}.png"></a></div>


        {{/each}}
    {{else}}
        <p>No Squads Yet!</p>
    {{/if}}
</div>
{{/partial}}

{{> layout.hbs}}


<style>

b{font-family: 'Patua One', cursive;}

.squads-container{

padding: 50px;
}
.card{
    background:transparent;
    border:none;
    margin:30px;
    padding:10px;
    width:auto;
    height: 100%;
    font-size:15px;
    text-align:center;
}

.card-body{
    text-align:center;
    font-size:20px;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
}

.squad-detail{ padding-top:50px;}
.squad-image{
height:200px;
width:200px;

}
img{
transition: 1s ease;
}

img:hover{
transform: scale(1.2);
}


.squad-logo{
text-align:center;
height: 50px;
weight: 50px;
}

.btn{
height:40px;
font-size:12px;
width:100%;
}


</style>